@page
@model UltiTourneysApp.Pages.Tournaments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tournament) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.tournamentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.tournamentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.tournamentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
