@page
@model UltiTourneysApp.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].TeamId1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].TeamId2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].TeamScore1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].TeamScore2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamId1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamId2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamScore1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamScore2)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
